@font-face {
    font-family: myfont;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*colors*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);


    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    /*for gradient*/
    /* background */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    /* circle */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}



.box{
    height: 60%;
    width: 45%;
    display: flex;
    box-shadow: 4.0px 8.0px 8.0px var(--Light-lavender);
    border-radius: 30px;
}

/*display secton*/

.disp{
    height: 100%;
    width: 50%;
    background: linear-gradient(0deg,var(--Light-royal-blue),var(--Light-slate-blue));
    border-radius: 30px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    font-family: myfont;
    color: var(--Pale-blue);
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mark{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,var(--Persian-blue),var(--Violet-blue));
}
.os{
    font-family: myfont;
    color: white;
    font-size: 80px;
}
.ts{
    font-family: myfont;
    color: var(--Pale-blue);
    font-size: 18px;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.great{
    color: white;
    font-size: 28px;
    margin-top: 10px;
}
.a{
    color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 16px;
    text-align: center;
    font-family: myfont;
}


/*dashboard section*/

.dashboard{
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sum{
    font-size: 28px;
    color: var(--Dark-gray-blue);
    font-family: myfont;
    font-weight: 800;
}
.data_val{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background: rgb(252, 192, 237,0.6);
    padding: 15px;
}
.data_val img{
    margin-right: 5px;
    font-size: 18px;
}
.data_val span{
    color: white;
    font-family: myfont;
    font-size: 18px;
}

.val{
    font-family: myfont;
    font-size: 18px;
    font-weight: 200;
    margin-left: auto;
}

button{
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    font-family: myfont;
    font-weight: 800;
    color: white;
    background: linear-gradient(0deg, var(--Light-royal-blue), var(--Light-slate-blue));
    border: none;
}

/* media qurey for mobile display */

@media screen and (max-width: 375px) {
    .wrapper {
            width: 100vw;
            height: 100vh;
            background: var(--White);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    .box{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .disp {
        height: 40%;
        width: 100%;
        background: linear-gradient(0deg, var(--Light-royal-blue), var(--Light-slate-blue));
        border-radius: 0 0 30px 30px;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard {
        height: 60%;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .result{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mark{
        height: 150px;
        width: 150px;
    }
    .os{
        font-size: 60px;
    }
    .ts{
        font-size: 16px;
    }

}